.hero-title {
	text-transform: uppercase;
}
.btn-learn-more {
	background-color: #AC5FD0;
}

.hero-image {
  background-image: url(/assets/images/hero.jpg);
  height: 100vh;
  color: white;
  background-image: url(/assets/images/hero.jpg);
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  padding-top: 13.3125rem;

}







