.hero-title {
	text-transform: uppercase;
  animation-name: slidein;
  animation-delay: 0.2s;
  animation-duration: 1.8s;
}

.hero-title-sub {
  animation-name: fadeInOut;
  animation-delay: 1.9s;
  animation-duration: 2s;
}

.btn-learn-more {
	background-color: #AC5FD0;
}

.hero-image {
  background-image: url(/assets/images/hero.jpg);
  height: 100vh;
  color: white;
  background-image: url(/assets/images/hero.jpg);
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  padding-top: 13.3125rem;

}

/* Hero title animation */

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }

  45% {
    opacity: 1;
  }

  100% {
    opacity: 0%;
  }
}






