.services-text {
	padding: 7em;
}

.services-col {
	background-color: #fafafa;
	border-left: 1px solid #979797;
	padding-left: 7em;
}

.services-icon-wrapper {
	width: 100px;
	height: 100px;
	line-height: 100px;
	border: 1px solid #AC5FD0;
  	border-radius: 50%;
  	vertical-align: middle;
  	text-align: center;
}

img.services-icon {
  height: 8vmin;
  pointer-events: none;
}

.services-icon-text {
	font-size: 1.375em;
}


