html, body {
	height: 100%;
}

 body, button {
  font-family: "Open Sans", "Segoe UI", Tahoma, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
	padding-top: 56px;
  	color: #161616;
}

/* Heading */

h1 {
	font-size: 4.0em;
}

h2 {
	font-size: 3.5em;
	text-transform: uppercase;
}

h3 {
	font-size: 2.3em;
	text-transform: uppercase;
}

/* Responsive Heading */

@media (min-width: 768px) {
  h3 {
  	font-size: 2.5em;
  }
}

@media (min-width: 992px) {
  h1 {
  	font-size: 4.5rem;
  }
  h2 {
  	font-size: 4em;
  }
}

/* Heading Colors */

.heading-purple {
	color: #613476;
}

.heading-black {
	color: #3E3E3E;
}

/* Links */

a {
	color: #613476;
}

a:hover {
	text-decoration: none;
}

/* Buttons */

.btn-learn-more a, .btn-contact-us {
	color: #ffffff;
	text-transform: uppercase;
}

.btn-contact-us {
	background-color: #FF7218;
}

.btn-learn-more:hover, .btn-contact-us a:hover, .btn-contact-us:hover {
	border-radius: 5px !important;
	color: #ffffff;
}

.link-learn-more:hover {
	color: #55635a;
}

/* Columns */

.col-left {
	padding-left: 4rem !important;
	padding-right: 4rem !important;
}

.col-right {
	padding-right: 4rem;
}

/********************************
Bootstrap classes
/********************************/

.btn-lg {
	font-size: 0.938em;
}











