 body, button {
  font-family: "Open Sans", "Segoe UI", Tahoma, sans-serif;
  color: #161616;
  font-size: 16px;
  line-height: 1.5;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
	font-size: 4.5em;
}

h2 {
	font-size: 4em;
}

h3 {
	font-size: 2.5em;
}

a {
	color: #613476;
}

a:hover {
	text-decoration: none;
}

/* Buttons */

.btn-submit {

}

